.main-nav{
    background-color: #373a40;
}
.form-inline {
    width: 100%;
  }
  
  .form-group {
    width: 90%;
  }
  
  .input-group {
    width: 90% !important;
  }
  
  .form-control {
    width: 50% !important;
  }
  
  span.input-group-addon {
    width: 50px !important;
  }
  
  .splash-div-image{
    .splash-image{
      display: block;
      margin-top: 250px;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      min-width: 200px;
    }
  }

  .combobox-input-search-venue::placeholder{
    color: #8e8e8e;
   text-align: left;
  }

 body {
   background-color: #F0FFFF
 }

 .logout {
  position: absolute;
  right: 20px;
 }